<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>维意——最好的微信公众平台管理工具</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="wease,维意,微信公众平台"/>
  <meta name="description" content="a bootstrap adminer platform of wechat."/>
  <link href="//cdn.bootcss.com/flat-ui/2.3.0/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/flat-ui/2.3.0/css/flat-ui.min.css" rel="stylesheet">
  <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed" href="/assets/favicon.ico">
  <link rel="shortcut icon" href="/assets/favicon.ico">
</head>
<body>
<div id="app">

  <h1 v-if="$auth.ready()">维意管理平台</h1>
  <p v-if="$auth.ready() && (!$auth.check())">
    <!-- use router-link component for navigation. -->
    <!-- specify the link by passing the `to` prop. -->
    <!-- <router-link> will be rendered as an `<a>` tag by default -->
    <router-link to="/login"> 我要登陆</router-link>
    <router-link to="/bar"> 获取帮助</router-link>
  </p>
  <!-- route outlet -->
  <!-- component matched by the route will render here -->
  <router-view></router-view>
</div>
<!-- built files will be auto injected -->
</body>
<script>
</script>
</html>
